body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 107, 220);
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    width: 40%;
    height: 70%;
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px lightgreen;
    background-color: darkkhaki;
}

.user {
    width: 100%;
    height: 180px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px 30px ;
    box-sizing: border-box;
}

.name {
    font-weight: bold;
    font-size: 22px;
    widows: 80%;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.status, .species, .gender, .location {
    font-size: 18px;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    color: gray;
    font-weight: 400;
}